<h4>Evaluation Record</h4>
<div class="ant-table-container" *ngIf="evaluationRecord">
    <table class="table ant-table table-striped">
        <thead class="ant-table-thead">
        <tr class="ant-table-row">
            <th class="ant-table-cell" scope="col">Name</th>
            <th class="ant-table-cell" scope="col">Employee ID</th>
            <th class="ant-table-cell" scope="col">Department</th>
            <th class="ant-table-cell" scope="col">Year of Performance</th>
        </tr>
        </thead>
        <tbody class="ant-table-tbody">
        <tr class="ant-table-row">
            <td class="ant-table-cell">{{salesman.fullName}}</td>
            <td class="ant-table-cell">{{salesman.code}}</td>
            <td class="ant-table-cell">{{salesman.unit}}</td>
            <td class="ant-table-cell">{{evaluationRecord.year}}</td>
        </tr>
        </tbody>
    </table>

    <nz-table class="mt-5" #orderEvaluation nzBordered nzTitle="Orders Evaluation" [nzData]="evaluationRecord.orderEvaluation">
        <thead>
        <tr>
            <th scope="col">Name of Product</th>
            <th scope="col">Client</th>
            <th scope="col">Client Ranking</th>
            <th scope="col">Items</th>
            <th scope="col">Bonus</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of orderEvaluation.data">
            <td>{{element.productName}}</td>
            <td>{{element.clientName}}</td>
            <td>{{element.clientRanking}}</td>
            <td>{{element.quantity}}</td>
            <td>{{element.bonus}}</td>
            <td><input [disabled]="!userIsHR()" nz-input [(ngModel)]="element.comment" placeholder="comment"/></td>
        </tr>
        </tbody>
        <div style="background:#ffffff; padding: 18px; min-height: 60px;">Total Bonus Order Evaluation: {{calculateTotalOrderBonus()}}</div>
    </nz-table>

    <nz-table #editRowTable nzBordered class="mt-5" nzTitle="Social Performance Evaluation"
              [nzData]="evaluationRecord.socialEvaluation">
        <thead>
        <tr>
            <th scope="col">KPI</th>
            <th scope="col">Target Value</th>
            <th scope="col">Actual Value</th>
            <th scope="col">Bonus</th>
            <th scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td>{{data.kpi}}</td>
            <td>{{data.targetValue}}</td>
            <td><input [disabled]="!userIsHR()" nz-input placeholder="Actual Value" [(ngModel)]="data.actualValue"/></td>
            <td>{{calculateSocialBonus(data)}}</td>
            <td><input [disabled]="!userIsHR()" nz-input placeholder="Comment" [(ngModel)]="data.comment"/></td>
        </tr>
        </tbody>
        <div style="background:#ffffff; padding: 18px; min-height: 60px;">Total Bonus Social Performance Evaluation: {{calculateTotalSocialBonus()}}</div>
    </nz-table>

    <div style="background:#ffffff; padding: 18px; min-height: 60px;">Final Total Bonus: {{calculateTotalBonus()}}</div>
    <br/>

    <textarea [disabled]="!userIsHR()" rows="4" nz-input [(ngModel)]="evaluationRecord.remarks"></textarea>
    <br/>
    <br/>
</div>

<div nz-row>
    <div nz-col nzSpan="8">
        <button *ngIf="userIsHR()" class="ml-2" type="submit" [nzType]="'primary'" nz-button (click)="save()">
            Save
        </button>

        <button class="ml-2" type="submit" [nzType]="'secondary'" nz-button (click)="goBack()">
            Cancel
        </button>
    </div>
    <div class="d-flex justify-content-end flex-row" nz-col nzSpan="8" nzOffset="8">
        <button class="ml-2" type="submit" [nzType]="'primary'" nz-button nzOffset="22"
                (click)="confirmRecord()">
            Confirm Evaluation Record
        </button>
    </div>
</div>
<br/>
