<!-- main app container -->
<header class="container-fluid bg-white py-3">
    <div nz-row>
    <div class="d-flex align-items-center" nz-col nzSpan="8">
        <img class="cursor-pointer" (click)="redirectToHome()" alt="HBRS-Logo" src="/assets/HBRS-Logo.svg" />
        <h5 class="mb-0 ml-4">
            Performance Manager
        </h5>
    </div>
    <div class="d-flex justify-content-end flex-row" nz-col nzSpan="8" nzOffset="8">
      <button *ngIf="authService.isLoggedIn" nz-button nzAlign="top" class="logout-form-button mr-2 logout-form-margin" (click)="logout()"  [nzType]="'secondary'">Logout</button>
    </div>
    </div>
</header>

<main class="container pt-5">
    <router-outlet></router-outlet>
</main>

<footer class="bg-white container-fluid py-2 text-right">
    <small>Julia Lepp, Tim Bastin</small>
</footer>
