<h4>Register</h4>
<form nz-form [formGroup]="registerForm" *ngIf="registerForm" class="login-form" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="username" placeholder="Username" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please select your department!">
            <nz-select
                    id="gender"
                    formControlName="department"
                    nzPlaceHolder="Select your department"
            >
                <nz-option nzValue="Sales" nzLabel="Sales"></nz-option>
                <nz-option nzValue="HR" nzLabel="HR"></nz-option>
                <nz-option nzValue="CEO" nzLabel="CEO"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <div class="d-flex justify-content-end flex-row">
        <button nz-button class="login-form-button mr-2 login-form-margin" type="submit" [nzType]="'primary'">Register</button>
        <button nz-button class="login-form-button login-form-margin" (click)="onLoginButtonClick()">Back to log in</button>
    </div>
</form>
