<h4>Salesman</h4>
<nz-table #tableData [nzData]="salesmans">
    <thead>
    <tr>
        <th>Government ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="onLinkPress(salesman)" *ngFor="let salesman of tableData.data">
        <td>{{salesman.code}}</td>
        <td>{{salesman.fullName}}</td>
        <td>{{salesman.unit}}</td>
    </tr>
    </tbody>
</nz-table>

<h4 *ngIf="!userIsCEO() && !userIsSalesman()" class="mt-5">Key Performance Indicators</h4>
<nz-table *ngIf="!userIsCEO() && !userIsSalesman()" #kpiTableData [nzData]="kpis">
    <thead>
    <tr>
        <th>KPI</th>
        <th>Target Value</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let kpi of kpiTableData.data">
        <td>{{kpi.kpi}}</td>
        <td>{{kpi.targetValue}}</td>
        <td><a (click)="deleteKPI(kpi._id)">Delete</a></td>
    </tr>
    <tr>
        <td>
            <input nz-input placeholder="KPI Name" [(ngModel)]="editableKPI" />
        </td>
        <td>
            <input nz-input placeholder="Target Value" [(ngModel)]="editableTargetValue" />
        </td>
        <td colspan="2">
            <div>
                <button nz-button (click)="addKPI()" nzType="primary">Add</button>
            </div>
        </td>
    </tr>
    </tbody>
</nz-table>




