<h4>Evaluation Records ({{salesman?.fullName}})</h4>

<form nz-form *ngIf="!userIsSalesmanOrCEO() && yearForm" [formGroup]="yearForm" (ngSubmit)="onSubmit()" class="d-flex">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input an evaluation record year">
            <nz-input-group>
                <input nz-input formControlName="year" placeholder="Evaluation Record year" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="ml-2" type="submit" [nzType]="'primary'" nz-button>
        add
    </button>
</form>

<table class="table table-striped">
    <nz-table *ngIf="!userIsSalesmanOrCEO()" [nzData]="evaluationRecords">
        <thead>
        <tr>
            <th>Record Year</th>
            <th>Bonus</th>
            <th>Approved by HR</th>
            <th>Approved by CEO</th>
            <th>Approved by Salesman</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="onLinkPress(record)" *ngFor="let record of evaluationRecords">
            <td>{{record.year}}</td>
            <td>{{record.bonus}}</td>
            <td>
                <i *ngIf="record.isApprovedByHR" nz-icon nzType="check" nzTheme="outline"></i>
                <i *ngIf="!record.isApprovedByHR" nz-icon nzType="close" nzTheme="outline"></i>
            </td>
            <td>
                <i *ngIf="record.isApprovedByCEO" nz-icon nzType="check" nzTheme="outline"></i>
                <i *ngIf="!record.isApprovedByCEO" nz-icon nzType="close" nzTheme="outline"></i>
            </td>
            <td>
                <i *ngIf="record.isApprovedBySalesman" nz-icon nzType="check" nzTheme="outline"></i>
                <i *ngIf="!record.isApprovedBySalesman" nz-icon nzType="close" nzTheme="outline"></i>
            </td>
            <td>
                <a (click)="deleteEvaluationRecord(record)">Delete</a>
            </td>
        </tr>
        </tbody>
    </nz-table>

    <nz-table *ngIf="userIsSalesmanOrCEO()" [nzData]="evaluationRecords">
        <thead>
        <tr>
            <th>Record Year</th>
            <th>Bonus</th>
            <th>Approved by HR</th>
            <th>Approved by CEO</th>
            <th>Approved by Salesman</th>
        </tr>
        </thead>
        <tbody>
        <tr (click)="onLinkPress(record)" *ngFor="let record of evaluationRecords">
            <td>{{record.year}}</td>
            <td>{{record.bonus}}</td>
            <td>
                <i *ngIf="record.isApprovedByHR" nz-icon nzType="check" nzTheme="outline"></i>
                <i *ngIf="!record.isApprovedByHR" nz-icon nzType="close" nzTheme="outline"></i>
            </td>
            <td>
                <i *ngIf="record.isApprovedByCEO" nz-icon nzType="check" nzTheme="outline"></i>
                <i *ngIf="!record.isApprovedByCEO" nz-icon nzType="close" nzTheme="outline"></i>
            </td>
            <td>
               <i *ngIf="record.isApprovedBySalesman" nz-icon nzType="check" nzTheme="outline"></i>
               <i *ngIf="!record.isApprovedBySalesman" nz-icon nzType="close" nzTheme="outline"></i>
            </td>
        </tr>
        </tbody>
    </nz-table>
</table>

<button class="ml-2" type="submit" [nzType]="'primary'" nz-button (click)="goBack()">
    Go back
</button>
