/* Application-wide Styles */
@import "~bootstrap/scss/bootstrap";
header {
  h5 {
    font-weight: bold!important;
  }
  img {
    width: 50px;
  }
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body, html {
  background-color: #e5e7eaee;
}
main {
  min-height: calc(100vh - 96px);
}

body, input[type="text"], button {
    color: #333;
    font-family: Arial, Helvetica;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
